<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
      }

      h1 {
        color: #333;
        text-align: center;
        margin-top: 30px;
      }

      a {
        text-decoration: none;
        display: block;
        margin-top: 20px;
        text-align: center;
      }

      button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      button:hover {
        background-color: #2980b9;
      }

      form {
        max-width: 400px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
      }

      textarea {
        resize: vertical;
      }

      button[type="submit"] {
        background-color: #2ecc71;
      }

      button[type="submit"]:hover {
        background-color: #27ae60;
      }
    </style>
    <title>Add Mountain</title>
  </head>
  <body>
    <h1>Add Mountain</h1>
    <a href="/admin"><button>Home</button></a>
    <form
      action="/admin/addMountain"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" />

      <label for="location">Location:</label>
      <input type="text" id="location" name="location" />

      <label for="imageURL">Image:</label>
      <input type="file" id="image" name="imageURL" />

      <button type="submit">Add Mountain</button>
    </form>
  </body>
</html>
